<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10" xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest" xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10" xmlns:uap2="http://schemas.microsoft.com/appx/manifest/uap/windows10/2" xmlns:desktop4="http://schemas.microsoft.com/appx/manifest/desktop/windows10/4" xmlns:desktop5="http://schemas.microsoft.com/appx/manifest/desktop/windows10/5" xmlns:desktop7="http://schemas.microsoft.com/appx/manifest/desktop/windows10/7" xmlns:com="http://schemas.microsoft.com/appx/manifest/com/windows10" xmlns:rescap="http://schemas.microsoft.com/appx/manifest/foundation/windows10/restrictedcapabilities" IgnorableNamespaces="uap uap2 desktop4 desktop5 desktop7 com rescap">
	<Identity Name="DiamondTechnologies.AllInOnePrepareCodeforAI" Publisher="CN=8AEAB7FE-A2EB-4C6B-AEAD-EB80C0786F0F" Version="1.0.0.0" />
	<Properties>
		<DisplayName>All In One: Prepare Code for AI</DisplayName>
		<PublisherDisplayName>Diamond Technologies</PublisherDisplayName>
		<Logo>Assets\PackageLogo.png</Logo>
	</Properties>
	<Dependencies>
		<TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.22621.0" MaxVersionTested="10.0.26100.0" />
		<TargetDeviceFamily Name="Windows.Desktop" MinVersion="10.0.22621.0" MaxVersionTested="10.0.26100.0" />
	</Dependencies>
	<Resources>
		<Resource Language="x-generate"/>
	</Resources>
	<Applications>
		<Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="$targetentrypoint$">
			<uap:VisualElements DisplayName="All In One" Description="Prepare and clean code for AI" BackgroundColor="transparent" Square150x150Logo="Assets\MediumTile.png" Square44x44Logo="Assets\AppIcon.png">
				<uap:DefaultTile Square71x71Logo="Assets\SmallTile.png" Wide310x150Logo="Assets\WideTile.png" Square310x310Logo="Assets\LargeTile.png"/>
				<uap:SplashScreen BackgroundColor="transparent" Image="Assets\SplashScreen.png"/>
			</uap:VisualElements>
			<Extensions>
				<com:Extension Category="windows.comServer">
					<com:ComServer>
						<com:SurrogateServer DisplayName="All In One Context Menu">
							<com:Class Id="AA5E78EB-6B1C-4B4B-8D16-D31F4519856A" Path="All_In_One.ContextMenu.dll" ThreadingModel="STA" />
						</com:SurrogateServer>
					</com:ComServer>
				</com:Extension>
				<desktop4:Extension Category="windows.fileExplorerContextMenus">
					<desktop4:FileExplorerContextMenus>
						<desktop5:ItemType Type="*">
							<desktop5:Verb Id="AllInOneFiles" Clsid="AA5E78EB-6B1C-4B4B-8D16-D31F4519856A" />
						</desktop5:ItemType>
						<desktop5:ItemType Type="Directory">
							<desktop5:Verb Id="AllInOneFolder" Clsid="AA5E78EB-6B1C-4B4B-8D16-D31F4519856A" />
						</desktop5:ItemType>
					</desktop4:FileExplorerContextMenus>
				</desktop4:Extension>
			</Extensions>
		</Application>
	</Applications>
	<Capabilities>
		<rescap:Capability Name="runFullTrust"/>
	</Capabilities>
</Package>

